{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        {{ if .Params.Image }}
        <img src="{{ .Params.Image | relURL }}" alt="" style="max-width: 40%;" class="img-fluid d-block mx-auto rounded-circle mb-4">
        {{ end }}
        <h4 class="widget-title">{{ .Title | markdownify }}</h4>
        <div class="content" style="text-align: left;">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}