// Color Variables
$primary-color: #0A7A52;
$text-color: #1F1F1F;
$text-color-dark: #111111;
$text-color-light: #1F1F1F;
$body-color: #fff;
$border-color: #ACB9C4;
$black: #000;
$white: #fff;
$gray: #fefefe;

// Font Variables
$primary-font: 'Raleway', sans-serif;
$icon-font: 'themify';
