<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
      </div>
      <div class="col-lg-3 col-sm-6 mb-5">
        <h6 class="mb-4">Contact Me</h6>
        <ul class="list-unstyled">
          <li class="mb-3"><a class="text-dark" href="tel:{{ .Site.Params.mobile }}"><i
                class="ti-mobile mr-3 text-primary"></i>{{ .Site.Params.mobile }}</a></li>
          <li class="mb-3"><i class="ti-location-pin mr-3 text-primary"></i>{{ .Site.Params.location }}</li>
          <li class="mb-3"><a class="text-dark" href="mailto:{{ .Site.Params.email }}"><i
                class="ti-email mr-3 text-primary"></i>{{ .Site.Params.email }}</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6 mb-5">
        <h6 class="mb-4">Social Contacts</h6>
        <ul class="list-unstyled">
          {{ range .Site.Params.social }}
          <li class="mb-3"><a class="text-dark" href="{{ .link | safeURL }}">{{ .title }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6 mb-5">
        <h6 class="mb-4">Categories</h6>
        {{- if isset .Site.Taxonomies "categories" }}
        {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
        <ul class="list-unstyled">
          {{- range $name, $items := .Site.Taxonomies.categories }}
          <li class="mb-3"><a class="text-dark"
              href="{{ `categories/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | title | humanize }}</a>
          </li>
          {{- end }}
        </ul>
        {{- end }}
        {{- end }}
      </div>
      <div class="col-lg-3 col-sm-6 mb-5">
        <h6 class="mb-4">Quick Links</h6>
        <ul class="list-unstyled">
          {{ range .Site.Menus.footer }}
          <li class="mb-3"><a class="text-dark" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-12 border-top py-4 text-center">
        {{ .Site.Params.copyright | markdownify }}
      </div>
    </div>
  </div>
</footer>

<script>
  var indexURL = {{ "index.json" | relURL }}
</script>

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | relURL }}"></script>
{{ end }}
{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink | relURL }}"></script>

<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$']],
    }
  }
</script>
<script async src="https://cdn.jsdelivr.net/npm/mathjax@4.0.0-beta.4/tex-mml-chtml.js"></script>
